<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Providers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
  
</head>

<body>
    <header class="header" id="header-providers" >
        <div id="message" style="color: rgb(52, 87, 128)"></div>
        <form class="choose-city">
            <select class="nameCountry" >       
                <option value="1">Local transport</option>
                <option value="2">Avio transport</option>
                <option value="3">Airport</option>
                <option value="4">Accommodation</option>
            </select>
                    <br> 
                    <br>
            <select class="nameCity" >
                <option value="1">Train</option>
                <option value="2">Rent a car</option>
                <option value="3">BUS</option>
                <option value="4">Taxi</option>
            </select>
                    <br>
            <button class="choose-destination-button">Select</button>
        </form>
    </header>

    <!--TOPNAV-->

    <div class=" top-nav " id="my-top-nav">
        <a  href="./start.html">Home</a>
        <a  href="./life.html ">Life ...</a>
        <a  href="./accommodation.html ">Accommodation</a>
        <a href="./enjoy.html ">Enjoy ...</a>
        <a href="./feedback.html ">Feedbacks</a>
        <a id="providers" class="active " href="#">Providers</a>
        <a href="javascript:void(0); " class="icon " onclick="nav() ">
            <i class="fa fa-bars "></i>
        </a>
        <a id="signOut " href="../index.html " onclick="signOut() ">Sign Out</a>
    </div>
 
    <div class="wrapper">
        <!--PROVIDER SELECT-->
        <!--SHOW TRANSPORTATION-->
        <div id="showTransportation">
            <h1>Provider list:</h1>
            <div class="middle-wrapper ">
                <div class="provider-div ">
                    <div class="provider ">
                        <div class="left">
                        <img class="provider-logo " src="../images/logoavio1.png ">
                        <h2>Provider name: AirSerbia
                            <br>Type: Airplane
                        </h2>

                    </div>
                        <div class="right">
                            <span class="heading ">User Rating</span>
                            <span class="fa fa-star checked "></span>
                            <span class="fa fa-star checked "></span>
                            <span class="fa fa-star checked "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <p>4.1 average based on 254 reviews.</p>
                            <button onclick="showProviderDetail() "><a href="#providerDetail "> Details</a></button>
                            <button onclick="showProviderEdit() "><a href="#userComment ">Edit</a></button>
                        </div>

                    </div>
                    <div class="show-provider-detail " id="showProviderDetail " style="display: none ">
                        <hr style="border:3px solid #f1f1f1 ">

                        <div class="provider-detail " id="providerDetail">
                            <div class="left ">
                                <p>Name: AirSerbia</p>
                                <p>Country: Serbia</p>
                                <p>City: Belgrade</p>
                                <p>Adress: Bulevar umetnosti bb</p>
                                <p>Phone:+381-11-444-444</p>
                                <p>Contact:</p>
                            </div>
                            <div class="right ">
                                <h3>About company</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus neque et nulla dictum, ac scelerisque quam ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam volutpat
                                    viverra dolor, ac efficitur libero commodo ac. Nam venenatis sodales sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis sed libero et purus feugiat blandit. Cras egestas lectus sit amet
                                    faucibus maximus. Proin non nulla lectus.</p>
                                <button onclick="closeProviderDetail() ">
                                        Close Details
                                    </button>
                            </div>

                        </div>
                    </div>

                    <form class="show-provider-edit " id="showEditProvider" style="display: none ">
                        <hr style="border:3px solid #f1f1f1 ">

                        <div class="provider-detail " id="providerDetail">
                            <div class="left ">

                                <p>Type:</p>

                                <br>
                                <input list="typeProvider" name="typeProvider">
                                <datalist id="typeProvider">       
                            <option value="Airplane">
                            <option value="Bus">
                            <option value="Company car">
                            <option value="Rent a car">
                                    <option value="Train">
                                            <option value="Taxi">  
                            </datalist>
                                <p>Name:</p><input type="text">
                                <p>Country:</p><input type="text">
                                <p>City:</p><input type="text">
                                <p>Street name:</p><input type="text">
                                <p>Street number:</p><input type="number">
                                <p>Phone:</p><input type="text"></div>
                            <div class="right ">
                                <h3>About company</h3>
                                <textarea cols="50" rows="20"></textarea>
                                <br>
                                <button onclick="closeProviderEdit() ">
                                            Close Edit
                                        </button>
                                <button type="submit">Submit</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>


    <footer id="podnozje ">
        <p>Beograd, Milutina Milankovica 1, 011-111-1111</p>
    </footer>
    <script src="../js/main.js "></script>
    <script src="../js/providers.js"></script>
</body>

</html>