<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Providers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="style/main.css" />
  
</head>

<body>
    <header class="zaglavlje" id="zaglavljeProviders" >
        <div id="message" style="color: rgb(52, 87, 128)"></div>
    </header>

    <!--TOPNAV-->

    <div class=" topnav " id="myTopnav ">
        <a id="home " class="active " href="home.html ">Home</a>
        <a id="lokacija " href="life.html ">Life ...</a>
        <a id="kontakt " href="accommodation.html ">Accommodation</a>
        <a id="galerija " href="enjoy.html ">Enjoy ...</a>
        <a id="feedback " href="feedback.html ">Feedbacks</a>
        <a id="providers" href="providers.html ">Providers</a>

        <a href="javascript:void(0); " class="icon " onclick="nav() ">
            <i class="fa fa-bars "></i>
        </a>


        <a id="signOut " href="index.html " onclick="signOut() ">Sign Out</a>
    </div>

    <div class="omotac">
        <!--PROVIDER SELECT-->



        <!--SHOW TRANSPORTATION-->


        <div id="showTransportation">
            <h1>Provider list:</h1>

            <div class="middleWrapper ">

                <div class="providerDiv ">

                    <div class="provider ">
                        <img class="providerLogo " src="pictures/logoavio1.png ">

                        <h2>Provider name: AirSerbia
                            <br>Type: Airplane
                        </h2>


                        <div>
                            <span class="heading ">User Rating</span>
                            <span class="fa fa-star checked "></span>
                            <span class="fa fa-star checked "></span>
                            <span class="fa fa-star checked "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <p>4.1 average based on 254 reviews.</p>
                            <button onclick="providerDetail() "><a href="#providerDetail "> Details</a></button>
                            <button onclick="showEditProvider() "><a href="#userComment ">Edit</a></button>
                        </div>

                    </div>
                    <div class="showProviderDetail " id="showProviderDetail " style="display: none ">
                        <hr style="border:3px solid #f1f1f1 ">

                        <div class="providerDetail " id="providerDetail">
                            <div class="left ">
                                <p>Name: AirSerbia</p>
                                <p>Country: Serbia</p>
                                <p>City: Belgrade</p>
                                <p>Adress: Bulevar umetnosti bb</p>
                                <p>Phone:+381-11-444-444</p>
                                <p>Contact:</p>
                            </div>
                            <div class="right ">
                                <h3>About company</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus neque et nulla dictum, ac scelerisque quam ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam volutpat
                                    viverra dolor, ac efficitur libero commodo ac. Nam venenatis sodales sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis sed libero et purus feugiat blandit. Cras egestas lectus sit amet
                                    faucibus maximus. Proin non nulla lectus.</p>
                                <button onclick="closeProviderDetail() ">
                                        Close Details
                                    </button>
                            </div>

                        </div>
                    </div>

                    <form class="showEditProvider " id="showEditProvider" style="display: none ">
                        <hr style="border:3px solid #f1f1f1 ">

                        <div class="providerDetail " id="providerDetail">
                            <div class="left ">

                                <p>Type:</p>

                                <br>
                                <input list="typeProvider" name="typeProvider">
                                <datalist id="typeProvider">       
                            <option value="Airplane">
                            <option value="Bus">
                            <option value="Company car">
                            <option value="Rent a car">
                                    <option value="Train">
                                            <option value="Taxi">  
                            </datalist>
                                <p>Name:</p><input type="text">
                                <p>Country:</p><input type="text">
                                <p>City:</p><input type="text">
                                <p>Street name:</p><input type="text">
                                <p>Street number:</p><input type="number">
                                <p>Phone:</p><input type="text"></div>
                            <div class="right ">
                                <h3>About company</h3>
                                <textarea cols="50" rows="20"></textarea>
                                <br>
                                <button onclick="closeProviderDetail() ">
                                            Close Details
                                        </button>
                                <button type="submit">Submit</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>




    <footer id="podnozje ">
        <p>Beograd, Milutina Milankovica 1, 011-111-1111</p>
    </footer>
    <script src="js/signout.js "></script>
    <script src="js/main.js "></script>
    <script src="js/nav.js "></script>
    <script>
        function showTransportation() {
            document.getElementById('showTransportation').style.display = "block";
        }

        function providerDetail() {

            document.querySelector('.showProviderDetail').style.display = "block";
        }

        function closeProviderDetail() {

            document.querySelector('.showProviderDetail').style.display = "none";
        }

        function showEditProvider() {
            document.querySelector('.showEditProvider').style.display = "block"
        }
    </script>
</body>

</html>